<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>BrickController2</string>
	<key>CFBundleIdentifier</key>
	<string>com.scn.brickcontroller2</string>
	<key>CFBundleName</key>
	<string>BrickController2</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth access is required to use SBrick, BuWizz or Powered-Up devices.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow the application to access the calendar.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location access is required to use SBrick, BuWizz or Powered-Up devices.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location access is required to use SBrick, BuWizz or Powered-Up devices.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location access is required to use SBrick, BuWizz or Powered-Up devices.</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3</string>
	<key>CFBundleVersion</key>
	<string>49</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth access is required to use SBrick, BuWizz or Powered-Up devices.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow the application to access contacts (actually not used by the app)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow the application to access microphone (actually not used by the app)</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Allow the application to access apple music (actually not used by the app)</string>
	<key>NSSiriUsageDescription</key>
	<string>Allow the application to access siri (actually not used by the app)</string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImages.launchimage</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
