<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="0.4" package="com.scn.BrickController2" android:installLocation="auto" android:versionCode="5">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.TRANSMIT_IR" />
	<application android:label="BrickController2.Android" android:icon="@mipmap/ic_launcher"></application>
</manifest>